* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body { 
    background-color: indigo;
    font-family: DotGothic16;
    color: antiquewhite;

    
    
}
.logo_navbar {
    filter: invert(1);
}

/* Style for unvisited links */
a:link {
    color: #ffffff; /* Blue color */
  }
  
  /* Style for visited links */
  a:visited {
    color: #ffffff; /* Purple color */
  }
  
  /* Style for links on mouse hover */
  a:hover {
    color: #ffd061; /* Red color */
  }

